p {
    text-align: center;
}
#me {
    font-size: x-large;
    font-weight: bold;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.6); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#current-weather {
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.6);
}
.center-temp{
    width: 100%;
    text-align: center;
}
#search-icon {
    width: 2em;
    align-self: center;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./assets/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#future-weather, #current-weather {
    color: white;
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.big-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    flex-shrink: 0;
    width: 200px;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
}

.temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-bar {
    border-radius: 20px;
    border: 0px;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

#search-button {
    border-radius: 20px;
    border: 0px;
    background-color:  rgb(0, 0, 0, 0.3);
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
}

.temp-container {
    display: flex;
    gap: 10px;
}

#search {
    display: flex;
    gap: 10px;
}
.min {
    color: grey;
}